@import "variables";

.hooper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  * {
    box-sizing: border-box;
    user-select: none;
  }
  & > * {
    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }
  &:focus,
  &:hover {
    outline: none;
    border: none;
  }
  &-slide {
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background-color: #efefef;
    &-inner {
      height: 100%;
      background-color: #4285f4;
      transition: 300ms;
    }
  }
  &-pagination {
    position: absolute;
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    padding: 5px 10px;
    &.is-vertical {
      bottom: auto;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      & .hooper-indicators {
        flex-direction: column;
      }
      & .hooper-indicator {
        width: 6px;
      }
      & .hooper-next {
        top: auto;
        bottom: 0;
        transform: initial;
      }
      & .hooper-prev {
        top: 0;
        bottom: auto;
        right: 0;
        left: auto;
        transform: initial;
      }
      & .hooper-track {
        flex-direction: column;
        height: 200px;
      }
    }
  }
  &-indicators {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-indicator {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: #c4c4c4;
    cursor: pointer;
    &.is-active,
    &:hover {
      background-color: $pc;
    }
  }
  &.is-rtl {
    direction: rtl;
    & .hooper-prev {
      left: auto;
      right: 0;
    }
    & .hooper-next {
      right: auto;
      left: 0;
    }
  }
  &-prev,
  &-next {
    background-color: transparent;
    border: none;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &.is-disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  &-next {
    right: 0;
  }
  &-prev {
    left: 0;
  }
  &-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  &-track {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  &-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
