<template>
  <div :class="{active: isActive, 'solutions-items': true}" @click="addClass">
    <img v-lazy="images" src="~/assets/loading.svg" :alt="title">
    <div class="info">
      <div class="link-back">
        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 5C7.31371 5 1 5 1 5M1 5L5.5 1M1 5L5.5 9" stroke="#6DB94C" stroke-linecap="round" />
        </svg>
        <p>
          Вернуться к решениям
        </p>
      </div>
      <h3 v-html="title" />
      <p v-html="description" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    images: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    addClass() {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';
@import '~assets/sass/mixin/line-clamp';

  .solutions-items {
    position: relative;
    height: 400px;
    max-height: 400px;
    width: 307px;
    transition: .3s;
    @media only screen and (max-width: 768px) {
      width: 300px;
      max-width: 300px;
    }
    &:hover {
      cursor: pointer;
      transition: .3s;
      .info {
        background: $green;
        h3, p {
          color: white;
        }
      }
    }
    &:first-of-type {
      .info {
        p {
          @include line-clamp(1, 1.5);
        }
      }
    }
    img {
      position: relative;
      object-fit: contain;
      height: 400px;
      max-height: 400px;
      @media only screen and (max-width: 768px) {
      width: 300px;
      max-width: 300px;
    }
    }
    .info {
      position: absolute;
      width: 258px;
      bottom: -1px;
      left: -1px;
      max-height: 122px;
      height: 122px;
      background: white;
      overflow: hidden;
      padding: 25px;
      @media only screen and (max-width: 768px) {
        max-height: 119px;
        height: 119px;
        width: 252px;
      }
      .link-back {
        display: none;
      }
      h3 {
        height:auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #333333;
        margin: 0;
        margin-bottom: 15px;
      }
      p {
        margin: 0;
        @include line-clamp(2, 1.5);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.034em;
        color: #333333;
        @media only screen and (max-width: 768px) {
          line-height: 165%;
          letter-spacing: 0.025em;
        }
      }
    }
    &.active {
      position:absolute;
      width: 800px;
      z-index:2;
      transition: .3s;
      @media only screen and (max-width: 768px) {
        width: 300px;
        position: relative;
      }
      &:hover {
        cursor: pointer;
        transition: .3s;
        .info {
          background: white;
          @media only screen and (max-width: 768px) {
            background: $green;
          }
        }
      }
      .link-back {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        @media only screen and (max-width: 768px) {
          display: none;
        }
        svg {
          margin-right: 5px;
        }
        p {
          padding: 0;
          margin: 0;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 160%;
          color: $green;
          border-bottom: 1px dashed $green
        }
      }
      img {
        position: absolute;
        left:0;
        top:0;
        transition: .5s;
      }
      .info {
        height: 352px;
        max-height: 352px;
        bottom: -1px;
        width: calc(100% - 307px);
        left: 306px;
        @media only screen and (max-width: 768px) {
          left: 0;
          bottom: 0;
          width: 250px;
          height: 330px;
          max-height: 330px;
          padding: 30px 25px 40px 25px;
          background: $green;
        }
        h3 {
          margin-bottom: 20px;
          @media only screen and (max-width: 768px) {
            margin: 0;
            display: none;
          }
        }
        p {
          max-height: 100%;
          overflow: auto;
          text-overflow: unset;
          -webkit-line-clamp: unset;
          -webkit-box-orient: unset;
          @media only screen and (max-width: 768px) {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  h3 br {
    display: none;
  }
</style>

<style lang="scss">
.solutions-items {
  &.active {
    h3 {
      br {
        display: none;
      }
    }
  }
}
.solutions {
  @media only screen and (max-width: 768px) {
    .info {
      p {
        br {
          display: none;
        }
      }
    }
  }
}
</style>
