<template>
  <nuxt-link v-lazy-container="{ selector: 'img' }" :class="classLogo" to="/">
    <img src="~/assets/loading.svg" :data-src="src" :alt="alt">
  </nuxt-link>
</template>

<script>
export default {
  props: {
    classLogo: {
      type: String,
      required: true
    },
    src: {
      type: String,
      default: '/images/logo.svg'
    },
    alt: {
      type: String,
      required: false,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .header-logo {
      img {
        margin-left: 3px;
        height: 75px;
        @media only screen and (max-width: 768px) {
          width: 100px;
          height: 53px;
          margin-top: 1px;
          margin-left: -9px;
        }
      }
    }
</style>
