<template>
  <div>
    <modal-form />
    <div class="btn" @click="open(title)">
      {{ title }}
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import ModalForm from '~/components/elements/ModalForm'

export default {
  components: {
    ModalForm
  },
  props: {
    title: {
      type: String,
      default: 'Узнать подробнее'
    }
  },
  methods: mapMutations({ open: 'openModal' })
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

.btn {
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: $dark-text;
  background: lighten($pc, 10%);
  min-width: 225px;
  height: 40px;
  margin-left: 3px;
  &:hover {
    cursor: pointer;
    background: lighten($pc, 50%);
    color: $dark-text;
  }
  @media only screen and (max-width: 768px) {
    margin-left: 1px;
    margin-top: 1px;
  }
}
</style>
