<template>
  <div v-if="show" class="modal">
    <div class="owerlay" @click="close">
      &nbsp;
    </div>
    <div class="content">
      <div class="closeModal" @click="close">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="40"
            height="40"
            fill="white"
          />
          <rect
            x="11.1924"
            y="28.87"
            width="1"
            height="25"
            rx="0.5"
            transform="rotate(-135 11.1924 28.87)"
            fill="#333333"
          />
          <rect
            x="10.4854"
            y="11.1924"
            width="1"
            height="25"
            rx="0.5"
            transform="rotate(-45 10.4854 11.1924)"
            fill="#333333"
          />
        </svg>
      </div>
      <h2>
        {{ text }}
      </h2>
      <form action="">
        <label for="name">
          Имя:
        </label>
        <input type="text" name="name" placeholder="Имя" value="">
        <label for="phone">
          Телефон:
        </label>
        <input type="text" name="phone" placeholder="Телефон" value="">
        <input type="submit" value="Отправить">
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  props: {
    title: {
      type: String,
      default: 'Узнать подробнее'
    }
  },
  computed: mapGetters({
    show: 'modalShow',
    text: 'modalText'
  }),
  methods: mapMutations({ close: 'closeModal' })
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:10;
  .owerlay {
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .content {
    position: absolute;
    top: 10%;
    left: calc(50% - 20%);
    background: white;
    width: 40%;
    height: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 12;
    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 0;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 80%;
      input {
        border: 1px solid lighten($pc, 10%);
        padding: 10px 15px;
        margin: 10px 0;
        width: 100%;
        @media only screen and (max-width: 768px) {
          width: 90%;
        }
      }
      input[type="submit"] {
        border-radius: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: white;
        background: lighten($pc, 10%);
        max-width: 225px;
        min-width: 225px;
        height: 44px;
        outline: none;
        border: none;
        margin: 20px auto 0 auto;
        &:hover {
          cursor: pointer;
          background: lighten($pc, 50%);
          color: $dark-text;
        }
      }
    }
  }
  .closeModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
