<template>
  <a :href="link" :title="title" :class="className">
    {{ title }}
  </a>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: 'header-nav'
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~assets/sass/variables";

.header-nav {
  line-height: 15px;
  color: #333333;
}
.footer-nav {
  line-height: 140%;
  color: #FFFFFF;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover {
    color: $pc;
  }
}

</style>
