<template>
  <div :class="className">
    <slot name="icon" />
    <a :href="'tel:' + number">{{ number }}</a>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: String,
      required: true
    },
    className: {
      type: String,
      default: 'footerPhone'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

.header-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  margin: 0;
  padding: 0;
  svg {
    margin-right: 5px;
  }
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $pc;
    border-bottom: 1px dashed $pc;
    &:hover {
        cursor: pointer;
        color: darken($pc, 50%);
        border-bottom: 1px dashed darken($pc, 50%);
    }
  }
  @media only screen and (max-width: 768px) {
    float: right;
    margin-right: -15px;
  }
}

div.footerPhone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
  margin: 0;
  padding: 0;
  svg {
    margin-right: 1px;
  }
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed white;
    &:hover {
        cursor: pointer;
        color: darken(white, 50%);
        border-bottom: 1px dashed darken(white, 50%);
    }
  }
}
</style>
