<template>
  <div class="item">
    <div v-lazy-container="{ selector: 'img' }" class="images">
      <img :data-src="img" src="~/assets/loading.svg" :alt="text" draggable="false">
    </div>
    <div class="text">
      <p v-html="text" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover {
    cursor: grab;
    &:focus {
      cursor: grabbing;
    }
  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
    overflow: hidden;
    img {
      pointer-events: none;
    }
  }
  .text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #333333;
    }
  }
}
</style>
