<template>
  <a :href="url" :title="title" :class="className" target="_blank">
    <img :src="'/images/social/' + icon" :alt="title">
    <span v-if="className == 'footer-social'">
      {{ title }}
    </span>
  </a>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    url: {
      type: String,
      default: '#',
      validator(value) {
        return /[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&//=]*)?/.test(value)
      }
    },
    icon: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: 'social'
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  transition: .3s;
  img {
    transition: .3s;
    &:hover {
      transition: .3s;
      transform: scale(1.05)
    }
  }
}

a.footer-social {
  margin-top: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;
  img {
    margin-right: 6px;
    transition: .3s;
  }
  &:hover {
    transition: .3s;
    // transform: scale(1.05)
  }
}
</style>
