<template>
  <div class="info">
    <h2 v-html="title" />
    <hr>
    <p v-html="description" />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #333333;
      margin: 0;
      letter-spacing: 0.005em;
      padding-left: 15px;
      @media only screen and (max-width: 768px) {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #333333;
        padding-left: 0;
      }
    }
    hr {
      width: 238px;
      border: none;
      color: $gray;
      background-color: $gray;
      height: 2px;
      margin: 30px 0 15px 0;
      @media only screen and (max-width: 768px) {
        margin: 20px 0 6px 0;
      }
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #333333;
      margin-bottom: 20px;
      @media only screen and (max-width: 768px) {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        // text-align: center;
        letter-spacing: 0.015em;
        color: #333333;
        padding: 0;
      }
    }
  }
</style>
