.container {
  max-width: 960px;
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 300px;
    width: 300px;
  }
}

body {
  margin: 0px;
}

body, * {
  font-family: 'Roboto', sans-serif;
}
