<template>
  <div>
    <header-bar
      :logo-src="logo.light"
      :class-logo="'header-logo'"
      :navigated="navigated"
      :contact="contact"
      :social="socialIcons"
    />
    <nuxt />
    <footer-bar
      :logo-src="logo.dark"
      :class-logo="'footer-logo'"
      :navigated="navigated"
      :contact="contact"
      :social="socialIcons"
    />
  </div>
</template>

<script>
import HeaderBar from '~/components/blocks/Header'
import FooterBar from '~/components/blocks/Footer'

export default {
  components: {
    HeaderBar,
    FooterBar
  },
  data() {
    return {
      logo: {
        light: '/images/logo.svg',
        dark: '/images/logo-dark.svg',
        mobile: '/images/logo-mobile.svg'
      },
      contact: {
        phone: '+7 (960) 384-72-68',
        mailto: 'andreev@gis-forest.ru',
        address: 'Россия, Республика <br>Башкортостан, Уфимский р-н, <br>с. Зубово, ул. Сельская, 39/1'
      },
      socialIcons: [
        // {
        //   type: 'twitter',
        //   icon: 'twitter',
        //   url: 'https://twitter.com',
        //   title: 'Twitter'
        // },
        // {
        //   type: 'vk',
        //   icon: 'vk',
        //   url: 'https://vk.com/',
        //   title: 'ВКонтакте'
        // },
        {
          type: 'facebook',
          icon: 'facebook',
          url: 'https://www.facebook.com',
          title: 'Facebook'
        }
      ],
      navigated: [
        {
          link: '#about',
          title: 'О нас'
        },
        {
          link: '#solutions',
          title: 'Решения'
        },
        {
          link: '#apps',
          title: 'Мобильное приложение'
        }
      ]
    }
  }
}
</script>
