<template>
  <div class="wrapper">
    <first-screen
      :title="firstScreen.title"
      :background="firstScreen.background"
      :description="firstScreen.description"
    />
    <about-screen
      :title="aboutScreen.title"
      :description="aboutScreen.description"
      :images="aboutScreen.images"
    />
    <solutions
      :title="Solutions.title"
      :description="Solutions.description"
      :items="Solutions.items"
    />
    <mobile-app
      :title="Mobile.title"
      :description="Mobile.description"
      :app="Mobile.app"
    />
    <awards
      :title="Awards.title"
      :description="Awards.description"
      :carousel="AwardsCarousel"
    />
  </div>
</template>

<script>
import FirstScreen from '~/components/blocks/FirstScreen'
import AboutScreen from '~/components/blocks/AboutScreen'
import MobileApp from '~/components/blocks/MobileApp'
import Solutions from '~/components/blocks/Solutions'
import Awards from '~/components/blocks/Awards'

export default {
  components: {
    FirstScreen,
    AboutScreen,
    Solutions,
    MobileApp,
    Awards
  },
  data() {
    return {
      firstScreen: {
        title: 'Лесная карта',
        background: '/images/firstScreen.webp',
        description: 'Комплекс программных решений для департаментов лесного хозяйства и предприятий лесной отрасли.'
      },
      aboutScreen: {
        title: 'ГИС Лесная карта',
        description: 'Программный комплекс обеспечивает контроль над лесопользованием на местах, предоставляя ведомствам лесного хозяйства эффективный инструмент общественного и спутникового мониторинга состояния лесного фонда. <span>А лесопользователи получают удобный сервис специализированной навигации и геотрекинга на карте лесного хозяйства даже в условиях отсутствия сигнала сотовой связи.</span>',
        images: '/images/about.png'
      },
      Solutions: {
        title: 'Решения',
        description: 'Программный комплекс обеспечивает сервис как для предприятий лесной отрасли, так <br>и для департаментов лесного хозяйства, благодаря возможности индивидуального подбора <br>модулей, актуальных для заказчика',
        items: [
          {
            images: '/images/solutions/card-1.jpg',
            title: 'Сервис <br>общественного <br>мониторинга',
            description: 'Состояния лесного фонда в виде мобильного приложения для граждан с функциями оффлайн навигации с доступом к данным регистра лесопользователей для обеспечения прозрачности ведения лесохозяйственной деятельности. Дает населению возможность проверить правомерность проводимых мероприятий и передать сообщение о подозрении на нелегальную рубку, лесной пожар, свалку и прочее.'
          },
          {
            images: '/images/solutions/card-2.jpg',
            title: 'Сервис обработки <br>данных',
            description: 'поступающих от сотрудников департаментов лесного хозяйства, предприятий отрасли и граждан. Система сопоставляет координаты поступивших сообщений с геоданными регистров и позволяет оперативно принять решение о необходимости оперативных мероприятий на местности.'
          },
          {
            images: '/images/solutions/card-3.jpg',
            title: 'Космический <br>мониторинг',
            description: 'Анализ изображений на базе данных, получаемых с оптических и радиолокационных спутников позволяет в автоматическом режиме отслеживать динамику заготовки древесины на лесосеках, включенных в Лесные декларации, а также определять местоположение и площади лесных участков, на которых производится нелегальная заготовка или происходит изменение состояния верхнего полога древостоев.'
          }
        ]
      },
      Mobile: {
        title: 'Мобильное приложение',
        description: 'Весь сервис, как для госорганов, так и для предприятий лесной <br>отрасли осуществляется в формате “одного окна” посредством <br>удобного мобильного приложения в привычном интерфейсе <br>навигатора, который содержит данные квартальной сети, <br>интегрированные с регистром лесопользователей. Весь <br>функционал реализован с учетом необходимости работы в <br>условиях отсутствия сигнала сотовой сети.',
        app: [
          {
            title: 'Загрузите в App Store',
            icon: '/images/app-store.svg',
            link: ''
          },
          {
            title: 'Доступно в Google play',
            icon: '/images/google-play.svg',
            link: ''
          }
        ]
      },
      Awards: {
        title: 'Награды и&nbsp;достижения',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci adipiscing egestas diam in. Eget sit sed in <br>quisque velit. Lacus, pretium, eu fermentum amet in in lectus. '
      },
      AwardsCarousel: [
        {
          images: '/images/awards/1.png',
          text: 'Контракт c министерством лесного <br>хозяйства Республики <br>Башкортостан'
        },
        {
          images: '/images/awards/2.png',
          text: '3-е место <br>на конкурсе проф-IT 2019 <br>в категории “Экология”'
        },
        {
          images: '/images/awards/3.png',
          text: 'Регистрация <br>в реестре отечественного <br>ПО Минкомсвязи'
        },
        {
          images: 'https://unsplash.it/288/288/?random',
          text: 'Контракт c министерством лесного <br>хозяйства Республики <br>Башкортостан'
        }
      ]
    }
  }
}
</script>
