<template>
  <div id="about" class="about">
    <div class="container">
      <div v-lazy-container="{ selector: 'img' }" class="images">
        <img :data-src="images" src="~/assets/loading.svg" :alt="title">
      </div>
      <div class="content">
        <h2 v-html="title" />
        <hr>
        <p v-html="description" />
        <modal-button />
      </div>
    </div>
  </div>
</template>

<script>
import ModalButton from '~/components/elements/ModalButton'

export default {
  components: {
    ModalButton
  },
  props: {
    title: {
      type: String,
      default: 'ГИС Лесная карта'
    },
    description: {
      type: String,
      default: ''
    },
    images: {
      type: String,
      default: 'https://unsplash.it/388/388/?random'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

  .about {
    padding: 150px 0;
    @media only screen and (max-width: 768px) {
      padding:30px 0 60px 0;
    }
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: space-between;
      @media only screen and (max-width: 768px) {
        justify-content: flex-start;
        align-items: space-between;
        flex-direction: column;
      }
      .images {
        width: 388px;
        height: 388px;
        @media only screen and (max-width: 768px) {
          width: 300px;
          height: 300px;
        }
        img {
          width: inherit;
          height: inherit;
          @media only screen and (max-width: 768px) {
            width: 300px;
            height: 300px;
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 50px;
        @media only screen and (max-width: 768px) {
          padding-left: 0;
        }
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          color: #333333;
          margin: 0;
          @media only screen and (max-width: 768px) {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            color: #333333;
            margin-top: 20px;
          }
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 170%;
          letter-spacing: 0.02em;
          color: #333333;
          margin-bottom: 30px;
          @media only screen and (max-width: 768px) {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.014em;
            color: #333333;
            width: 303px;
            margin-bottom: 22px;
          }
        }
        hr {
          width: 238px;
          border: none;
          color: $gray;
          background-color: $gray;
          height: 2px;
          margin: 32px 0 12px 0;
          @media only screen and (max-width: 768px) {
            margin: 22px 0 6px 0;
          }
        }
      }
    }
  }
</style>

<style lang="scss">
@import '~assets/sass/variables';
.about {
  .content {
    .btn {
      color: white;
      &:hover{
        color: $dark-text;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .about {
    p {
      span {
        display: block;
        margin-top: 30px;
      }
    }
  }
}
</style>
