<template>
  <div class="awards">
    <div class="container">
      <heading :title="title" :description="description" />
      <hooper :settings="AwardsSettings">
        <slide v-for="items in carousel" :key="items.images">
          <item :img="items.images" :text="items.text" />
        </slide>
        <hooper-pagination slot="hooper-addons" />
      </hooper>
    </div>
  </div>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from 'hooper'
import Item from '~/components/elements/slide'
import Heading from '~/components/elements/title-description'

export default {
  components: {
    Hooper,
    Slide,
    Item,
    HooperPagination,
    Heading
  },
  props: {
    carousel: {
      type: Array,
      default() {
        return []
      }
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      AwardsSettings: {
        itemsToShow: 1,
        breakpoints: {
          960: {
            itemsToShow: 3
          }
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '~assets/sass/hooper';
</style>

<style lang="scss" scoped>
@import '~assets/sass/variables';

.hooper {
  height: 255%;
  margin-top: 14px;
  @media only screen and (max-width: 768px) {
    margin-top: 28px;
  }
}
.awards {
  padding: 90px 0 160px 0;
  background: $AwardsBg;
  @media only screen and (max-width: 768px) {
    padding: 60px 0 140px 0;
  }
}
</style>

<style lang="scss">
@media only screen and (max-width: 768px) {
  .awards {
    .info, .hooper {
      p {
        br {
          display: none;
        }
      }
    }
  }
}
</style>
