<template>
  <div
    v-lazy:background-image="background"
    class="carousel first-block"
    :style="{
      background: 'no-repeat top center'
    }"
  >
    <div class="container">
      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <modal-button />
      </div>
      <div v-lazy-container="{ selector: 'img' }" class="phone">
        <img data-src="/images/screen.webp" src="~/assets/loading.svg" :alt="title">
      </div>
    </div>
  </div>
</template>

<script>
import ModalButton from '~/components/elements/ModalButton'

export default {
  components: {
    ModalButton
  },
  props: {
    title: {
      type: String,
      default: 'Лесная карта'
    },
    background: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  height: calc(99vh - 80px);
  min-height: 800px;
  max-height: 800px;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @media only screen and (max-width: 768px) {
    height: calc(99vh - 53px);
    min-height: 580px;
    max-height: 580px;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 206px;
    h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin: 0;
      margin-left: 3px;
      @media only screen and (max-width: 768px) {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: 0px;
      }
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin: 13px auto 30px 5px;
      @media only screen and (max-width: 768px) {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 17px auto 30px 0px;
      }
    }
    .btn {
      margin-bottom: 32px;
    }
  }
  .phone {
    width: 100%;
    height: 573px;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    img {
      margin-top: -61px;
      margin-left: 20px;
      @media only screen and (max-width: 768px) {
        width: 261px;
        margin: 0;
        margin-top: 11px;
        margin-left: 20px;
      }
    }
  }
}
</style>
