<template>
  <footer class="footer">
    <div class="container footer-container">
      <div class="information">
        <logo :src="logoSrc" :class-logo="classLogo" />
        <p>Цифровая экология</p>
        <span class="copyright">
          ООО “Лесная Карта” <br>
          Все права защищены.© 2018 - 2019
        </span>
      </div>
      <div class="contact">
        <h2> Контакты </h2>
        <phone :number="contact.phone" :class-name="'footerPhone'">
          <template v-slot:icon>
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9057 14.8096L15.5133 16.6538C15.4775 16.8251 15.4064 16.9871 15.3044 17.1294C15.2025 17.2716 15.0719 17.391 14.9211 17.4799C14.7704 17.5688 14.6027 17.6253 14.4288 17.6456C14.255 17.6659 14.0788 17.6497 13.9116 17.5981C12.0637 16.99 10.3842 15.957 9.00806 14.582C7.72361 13.3221 6.7323 11.7949 6.10454 10.1088C5.40688 8.28407 5.14888 6.32064 5.35141 4.3776C5.37222 4.20434 5.42888 4.03731 5.51778 3.88714C5.60668 3.73698 5.72588 3.60697 5.86777 3.5054C6.00967 3.40383 6.17116 3.33291 6.34197 3.29717C6.51277 3.26143 6.68915 3.26164 6.85987 3.2978L8.70404 3.69022C9.003 3.75076 9.26974 3.91794 9.45454 4.16061C9.63935 4.40327 9.72961 4.70486 9.70851 5.00915C9.66076 5.61589 9.68181 6.22608 9.77125 6.82809C9.80714 7.06571 9.77416 7.30864 9.67622 7.5281C9.57827 7.74755 9.41947 7.93433 9.21863 8.06629L8.27181 8.68087C8.81942 10.4061 9.82254 11.9515 11.1753 13.154L12.1221 12.5395C12.3245 12.4098 12.5597 12.3408 12.8 12.3406C13.0403 12.3405 13.2757 12.4093 13.4781 12.5388C13.9915 12.8656 14.5403 13.1333 15.1139 13.3367C15.4035 13.4424 15.6442 13.6508 15.7902 13.9224C15.9362 14.1939 15.9773 14.5097 15.9057 14.8096Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </template>
        </phone>
        <div class="mail">
          <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5 10.5V0.5H0.5V10.5H15.5Z" stroke="white" />
          </svg>
          <a :href="'mailto:' + contact.mailto">{{ contact.mailto }}</a>
        </div>
        <div class="address">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5 9C15.5 9.57008 15.2324 10.3907 14.7683 11.3543C14.3129 12.2997 13.701 13.3179 13.082 14.2612C12.4641 15.2027 11.8453 16.0603 11.3806 16.683C11.2374 16.8748 11.109 17.0441 11 17.1864C10.891 17.0441 10.7626 16.8748 10.6194 16.683C10.1547 16.0603 9.53589 15.2027 8.91803 14.2612C8.29902 13.3179 7.6871 12.2997 7.23172 11.3543C6.76763 10.3907 6.5 9.57008 6.5 9C6.5 6.51472 8.51472 4.5 11 4.5C13.4853 4.5 15.5 6.51472 15.5 9Z" stroke="white" />
            <circle cx="11" cy="9" r="2" fill="white" />
          </svg>
          <p v-html="contact.address" />
        </div>
        <social-footer
          v-for="icons in social"
          :key="icons.type"
          :title="icons.title"
          :url="icons.url"
          :icon="icons.icon + '-white.svg'"
          :class-name="'footer-social'"
        />
      </div>
      <div class="footer-navigated">
        <h2> Навигация </h2>
        <nav-link-footer
          v-for="items in navigated"
          :key="items.link"
          :title="items.title"
          :link="items.link"
          :class-name="'footer-nav'"
        />
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from '~/components/elements/Logo'
import Phone from '~/components/elements/Phone'
import SocialFooter from '~/components/elements/Social'
import NavLinkFooter from '~/components/elements/NavLink'

export default {
  components: {
    Logo,
    Phone,
    SocialFooter,
    NavLinkFooter
  },
  props: {
    logoSrc: {
      type: String,
      default: ''
    },
    classLogo: {
      type: String,
      default: ''
    },
    navigated: {
      type: Array,
      default() {
        return []
      }
    },
    contact: {
      type: Object,
      default() {
        return {}
      }
    },
    social: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

.footer {
  background: $dark-background;
  color: white;
  padding: 40px 0;
  @media only screen and (max-width: 768px) {
    padding: 29px 0;
  }
  &-container {
    display: grid;
    grid-template-columns: 424px 327px auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'info contact nav';
    max-width: 980px;
    width: 980px;
    @media only screen and (max-width: 768px) {
      max-width: 330px;
      width: 330px;
      grid-template-columns: 330px;
      grid-template-rows: auto;
      grid-template-areas: 'info' 'contact' 'nav';
      padding-left: 0px;
    }
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: 'info';
    a {
      img {
        margin-top: 1px;
        margin-left: -4px;
      }
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin: -3px auto 5px 17px;
      @media only screen and (max-width: 768px) {
        margin: 3px auto 5px 17px;
      }
    }
    .copyright {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin: 5px 0px 0 17px;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    grid-area: 'contact';
    @media only screen and (max-width: 768px) {
      padding-left: 15px;
      margin-top: 32px;
      padding-bottom: 32px;
    }
    & > div {
      margin-top: 20px;
      &:nth-of-type(1) {
        margin-top: 0px;
      }
    }
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin-top: 18px;
      margin-bottom: 20px;
    }
    .mail {
      margin-top: 21px;
      svg {
        margin-right: 10px;
      }
      a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-decoration: none;
        transition: .3s;
      }
      &:hover {
        transition: .3s;
        // transform: scale(1.05)
      }
    }
    .address {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 21px;
      svg {
        margin-right: 10px;
        min-width:21px;
      }
      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-top: 3px;
      }
    }
  }
  .footer-navigated {
    display: flex;
    flex-direction: column;
    grid-area: 'nav';
    @media only screen and (max-width: 768px) {
      padding-left: 15px;
      margin-top: 0;
      padding-bottom: 32px;
    }
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }
    a {
      margin-top: 20px;
      &:nth-of-type(1) {
        margin-top: 6px;
      }
    }
  }
}
</style>
