<template>
  <header class="header">
    <div class="header-container container">
      <logo :src="logoSrc" :class-logo="classLogo" />
      <div class="navigate">
        <nav-link
          v-for="items in navigated"
          :key="items.link"
          :title="items.title"
          :link="items.link"
          :class-name="'header-nav'"
        />
      </div>
      <phone :number="contact.phone" :class-name="'header-phone'">
        <template v-slot:icon>
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="21" height="21" fill="white" />
            <path
              d="M15.9057 14.8095L15.5133 16.6537C15.4775 16.825 15.4064 16.987 15.3044 17.1293C15.2025 17.2716 15.0719 17.391 14.9211 17.4799C14.7704 17.5688 14.6027 17.6252 14.4288 17.6455C14.255 17.6659 14.0788 17.6497 13.9116 17.598C12.0637 16.9899 10.3842 15.9569 9.00806 14.5819C7.72361 13.3221 6.7323 11.7949 6.10454 10.1088C5.40688 8.28401 5.14888 6.32058 5.35141 4.37754C5.37222 4.20428 5.42888 4.03725 5.51778 3.88708C5.60668 3.73692 5.72588 3.60691 5.86777 3.50534C6.00967 3.40376 6.17116 3.33285 6.34197 3.29711C6.51277 3.26137 6.68915 3.26158 6.85987 3.29774L8.70404 3.69015C9.003 3.7507 9.26974 3.91788 9.45454 4.16055C9.63935 4.40321 9.72961 4.7048 9.70851 5.00909C9.66076 5.61583 9.68181 6.22602 9.77125 6.82803C9.80714 7.06565 9.77416 7.30858 9.67622 7.52804C9.57827 7.74749 9.41947 7.93427 9.21863 8.06623L8.27181 8.68081C8.81942 10.406 9.82254 11.9514 11.1753 13.154L12.1221 12.5394C12.3245 12.4097 12.5597 12.3407 12.8 12.3406C13.0403 12.3405 13.2757 12.4093 13.4781 12.5388C13.9915 12.8656 14.5403 13.1332 15.1139 13.3366C15.4035 13.4423 15.6442 13.6508 15.7902 13.9223C15.9362 14.1939 15.9773 14.5096 15.9057 14.8095Z"
              stroke="#428B00"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </template>
      </phone>
      <div class="header-social">
        <social
          v-for="icons in social"
          :key="icons.type"
          :title="icons.title"
          :url="icons.url"
          :icon="icons.icon + '.svg'"
        />
      </div>
    </div>
  </header>
</template>

<script>
import Logo from '~/components/elements/Logo'
import Phone from '~/components/elements/Phone'
import Social from '~/components/elements/Social'
import NavLink from '~/components/elements/NavLink'

export default {
  components: {
    Logo,
    Phone,
    Social,
    NavLink
  },
  props: {
    logoSrc: {
      type: String,
      default: ''
    },
    classLogo: {
      type: String,
      default: ''
    },
    navigated: {
      type: Array,
      default() {
        return []
      }
    },
    contact: {
      type: Object,
      default() {
        return {}
      }
    },
    social: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  height: 80px;
  margin: 0;
  @media only screen and (max-width: 768px) {
    height: 56px;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 365px;
      margin-left: 135px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .header-social {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
</style>
