<template>
  <div id="apps" class="mobileapp">
    <div class="container">
      <div class="info">
        <h2 v-html="title" />
        <hr>
        <p v-html="description" />
        <div class="icon">
          <a v-for="item in app" :key="item.icon" v-lazy-container="{ selector: 'img' }" :href="item.link" :title="item.title">
            <img src="~/assets/loading.svg" :data-src="item.icon" :alt="item.title">
          </a>
        </div>
      </div>
      <div v-lazy-container="{ selector: 'img' }" class="phone">
        <img data-src="/images/screen.webp" src="~/assets/loading.svg" :alt="title">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    app: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

  .mobileapp {
    margin: 40px 0 100px 0;
    @media only screen and (max-width: 768px) {
      margin: 25px 0 56px 0;
    }
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @media only screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
      .info {
        padding-top: 115px;
        @media only screen and (max-width: 768px) {
          padding-top: 0;
        }
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          color: #333333;
          margin: 0;
          white-space: nowrap;
          letter-spacing: 0.007em;
          @media only screen and (max-width: 768px) {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            color: #333333;
            letter-spacing: 0.001em;
            width: 50%;
            white-space: normal;
          }
        }
        hr {
          width: 238px;
          border: none;
          color: $gray;
          background-color: $gray;
          height: 2px;
          margin: 40px 0 20px 0;
          @media only screen and (max-width: 768px) {
            margin: 21px 0 20px 0;
          }
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 170%;
          letter-spacing: 0.02em;
          color: #333333;
          white-space: nowrap;
          margin-bottom: 30px;
          @media only screen and (max-width: 768px) {
            white-space: normal;
            width: 300px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 175%;
            letter-spacing: 0.012em;
            color: #333333;
            margin-bottom: 21px;
          }
        }
        .icon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          @media only screen and (max-width: 768px) {
            flex-direction: row-reverse;
          }
          a {
            margin-right: 40px;
            @media only screen and (max-width: 768px) {
              margin-right: 15px;
              img {
                width: 150px;
              }
              &:nth-of-type(1) {
                  img {
                    width: 135px;
                  }
              }
            }
          }
        }
      }
      .phone {
        display: flex;
        justify-content: flex-start;
        @media only screen and (max-width: 768px) {
          width: 100%;
          height: 360px;
        }
        img {
          @media only screen and (max-width: 768px) {
            width: 330px;
            margin: 0;
            margin-left: -15px;
            height: 384px;
          }
        }
      }
    }
  }
</style>

<style lang="scss">
@media only screen and (max-width: 768px) {
  .mobileapp {
    .info {
      p {
        br {
          display: none;
        }
      }
    }
  }
}
</style>
