<template>
  <div id="solutions" class="solutions">
    <div class="container">
      <heading :title="title" :description="description" />
      <div class="solutions-list">
        <card v-for="card in items" :key="card.images" :title="card.title" :description="card.description" :images="card.images" />
      </div>
    </div>
  </div>
</template>

<script>
import Heading from '~/components/elements/title-description'
import Card from '~/components/elements/Card.vue'

export default {
  components: {
    Heading,
    Card
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: Array
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/sass/variables';

.solutions {
  background: $AwardsBg;
  padding: 100px 0 150px 0;
  @media only screen and (max-width: 768px) {
      padding: 60px 0 44px 0;
    }
  &-list {
    position: relative;
    display: grid;
    grid-template-columns: 307px 307px 307px;
    grid-template-rows: 400px;
    grid-template-areas: ". . .";
    grid-gap: 21px;
    max-height: 400px;
    margin-top: 40px;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    grid-template-columns: 300px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: "." "." ".";
    grid-gap: 28px;
    max-height: 100%;
  }
  }
}
</style>
